launchers/*/assets
launchers/mobile/android/.idea
launchers/mobile/android/gradle
launchers/mobile/android/build
launchers/mobile/android/.gradle
launchers/mobile/android/local.properties
***/*.jks
***/dist/
***/target
***/Cargo.lock
***/publish
*.pdb
.vscode/settings.json
***/backups
debug.log
config.toml
cyclic.dot
